# Ignore ALL
*

# Aloow config
!/.gitignore
!/.github/**
!.golangci.yml
!cliff.toml
!build.sh
!install.sh
!cosign.pub
!examples/**

# Allow Go
!*.go
!go.sum
!go.mod

# Allow deez
!README.md
!LICENSE

# ...and allow all that in the subdirs too
!*/

# apple
.DS_Store
